.header,.footer{
  background-color: #212529;
}
.header a{
  color: white;
}
.header .nav-link{
  color:rgba(255, 255, 255, 0.55);
}
.header .nav-link:hover{
  color:rgba(255, 255, 255, 0.8);
}
.header .active .nav-link{
  color:white;
}
.navbar-collapse{
  justify-content: flex-end;
}
.footer{
  margin-top: 50px;
  text-align: center;
  color: white;
  padding: 50px;
}